#%RAML 1.0
---

title: Individuals Matching
version: 1
protocols: [ HTTPS ]
baseUri: http://api.service.hmrc.gov.uk

documentation:
  - title: Overview
    content: !include docs/overview.md
  - title: Versioning
    content: !include https://developer.service.hmrc.gov.uk/api-documentation/assets/common/docs/versioning.md
  - title: Errors
    content: !include https://developer.service.hmrc.gov.uk/api-documentation/assets/common/docs/errors.md
  - title: Testing
    content: !include docs/testing.md

uses:
  sec: https://developer.service.hmrc.gov.uk/api-documentation/assets/common/modules/securitySchemes.raml
  headers: https://developer.service.hmrc.gov.uk/api-documentation/assets/common/modules/headers.raml
  annotations: https://developer.service.hmrc.gov.uk/api-documentation/assets/common/modules/annotations.raml

mediaType: [ application/json, application/hal+json ]

types:
  UUID:
    type: string
    pattern: "^[0-9A-Fa-f]{8}(-[0-9A-Fa-f]{4}){3}-[0-9A-Fa-f]{12}$"
    example: "6b853b58-625f-4e64-955e-43a7cdff5c03"

/individuals/matching:
  /:
    post:
      is: [headers.acceptHeader, headers.contentHeader]
      displayName: Search HMRC’s records for a individual
      description: !include docs/individual-match.md
      (annotations.scope): "read:individuals-matching"
      securedBy: [ sec.oauth_2_0: { scopes: [ "read:individuals-matching" ] } ]
      (annotations.sandboxData): !include sandbox/match-individual.md
      body:
        application/json:
          example: !include examples/match-request.json
          type: !include schemas/match-request.json
      responses:
        200:
          description: The individual information provided has matched with HMRC records.
          body:
            application/json:
              example: !include examples/matched-individual-resources-200.json
              type: !include schemas/matched-individual-resources.json

        400:
          body:
            application/json:
              type: !include schemas/error-codes.json
              examples:
                notOpenStatus:
                  description: Bad Request
                  value: |
                    {
                      "code" : "BAD_REQUEST",
                      "message" : "Bad Request"
                    }
        403:
          body:
            application/json:
              description: The individual details provided did not match with HMRC’s records.
              type: !include schemas/error-codes.json
              example: |
                {
                  "code": "MATCHING_FAILED",
                  "message": "The individual details provided did not match with HMRC’s records."
                }
        404:
          body:
            application/json:
              type: !include schemas/error-codes.json
              examples:
                ResourceNotFound:
                  description: Resource Not Found
                  value: |
                    {
                      "code" : "NOT_FOUND",
                      "message" : "Resource Not Found"
                    }
        406:
          body:
            application/json:
              type: !include schemas/error-codes.json
              examples:
                headerInvalid:
                  description: Accept header invalid
                  value: |
                    {
                      "code" : "ACCEPT_HEADER_INVALID",
                      "message" : "Accept header invalid"
                    }
        500:
          body:
            application/json:
              type: !include schemas/error-codes.json
              examples:
               internalServerError :
                  description: Internal Server Error
                  value: |
                    {
                      "code" : "INTERNAL_SERVER_ERROR",
                      "message" : "Internal Server Error"
                    }

  /{matchId}:
      description: |
        Returns a URL you can use to check a individual’s information. Currently, the only check available is to
        check if the individual is a Scottish taxpayer.

        The URL is only valid for a limited period of time. After expiry a 404 will be returned if accessed.
      displayName: Check a individual’s information
      uriParameters:
        matchId:
          type: UUID
          example: "6b853b58-625f-4e64-955e-43a7cdff5c03"
      get:
        is: [headers.acceptHeader]
        description: |
          Returns a URL you can use to check a individual’s information. Currently, the only check available is to
          check if the individual is a Scottish taxpayer.

          The URL is only valid for a limited period of time. After expiry a 404 will be returned if accessed.
        displayName: Check a individual’s information
        securedBy: [ sec.x-application ]
        (annotations.sandboxData): !include sandbox/matched-response.md
        responses:
          200:
            body:
              application/json:
                example:  !include examples/matched-response.json
          403:
            body:
              application/json:
                description: |
                  The match has timed out and the UUID is no longer valid.
                  The match (POST to /match) will need to repeated.
                type: !include schemas/error-codes.json
                example: |
                  {
                    "code": "INVALID_UUID",
                    "message": "The match has timed out and the UUID is no longer valid. The match (POST to /match) will need to repeated."
                  }
          404:
            body:
              application/json:
                type: !include schemas/error-codes.json
                examples:
                  ResourceNotFound:
                    description: Resource Not Found
                    value: |
                      {
                        "code" : "NOT_FOUND",
                        "message" : "Resource Not Found"
                      }
          406:
            body:
              application/json:
                type: !include schemas/error-codes.json
                examples:
                  headerInvalid:
                    description: Accept header invalid
                    value: |
                      {
                        "code" : "ACCEPT_HEADER_INVALID",
                        "message" : "Accept header invalid"
                      }
          500:
            body:
              application/json:
                type: !include schemas/error-codes.json
                examples:
                 internalServerError :
                    description: Internal Server Error
                    value: |
                      {
                        "code" : "INTERNAL_SERVER_ERROR",
                        "message" : "Internal Server Error"
                      }