#%RAML 1.0
---

title: Individuals Matching
version: 2.0
protocols: [ HTTPS ]
baseUri: https://api.service.hmrc.gov.uk/

documentation:
 - title: Overview
   content: !include docs/overview.md
 - title: Versioning
   content: !include https://developer.service.hmrc.gov.uk/api-documentation/assets/common/docs/versioning.md
 - title: Errors
   content: !include https://developer.service.hmrc.gov.uk/api-documentation/assets/common/docs/errors.md
 - title: Testing
   content: !include docs/testing.md

mediaType: [ application/json, application/hal+json ]

uses:
  sec: https://developer.service.hmrc.gov.uk/api-documentation/assets/common/modules/securitySchemes.raml
  headers: https://developer.service.hmrc.gov.uk/api-documentation/assets/common/modules/headers.raml
  annotations: https://developer.service.hmrc.gov.uk/api-documentation/assets/common/modules/annotations.raml
  types: https://developer.service.hmrc.gov.uk/api-documentation/assets/common/modules/types.raml

/individuals/matching:
  /:
    post:
      (annotations.sandboxData): !include sandbox/match-request.md
      (annotations.scope): "assigned"
      securedBy: [ sec.oauth_2_0: { scopes: [ "assigned" ] } ]
      displayName: Match an individual's details against HMRC data
      description: !include docs/match-endpoint-description.md
      is: [headers.acceptHeader]
      headers:
        correlationId:
          description: A universally unique identifier (UUID), used for traceability purposes.
          type: string
          example: 58072660-1df9-4deb-b4ca-cd2d7f96e480
      body:
        application/json:
          type: !include schemas/match-request.json
          example: !include examples/match-request.json
      responses:
        200:
          description: The available resources to retrieve the matched individual's details
          body:
            application/json:
              example: !include examples/matched-individual-resources.json
              type: !include schemas/matched-individual-resources.json
        400:
          body:
            application/json:
              type: types.errorResponse
              examples:
                BadRequest:
                  description: Invalid request
                  value:
                    code: INVALID_REQUEST
        403:
          body:
            application/json:
              type: types.errorResponse
              examples:
                Forbidden:
                  description: The individual's details provided did not match with HMRC’s records
                  value:
                    code: MATCHING_FAILED
  /{matchId}:
    uriParameters:
      matchId:
        description: A short-lived UUID, typically valid for several hours.
        type: string
        example: 57072660-1df9-4aeb-b4ea-cd2d7f96e430
    get:
      displayName: Get matched individual's details
      description: !include docs/matched-individual-endpoint-description.md
      is: [headers.acceptHeader]
      (annotations.scope): "assigned"
      securedBy: [ sec.oauth_2_0: { scopes: [ "assigned" ] } ]
      (annotations.sandboxData): !include sandbox/matched-individual-request.md
      headers:
        correlationId:
          description: A UUID, used for traceability purposes.
          type: string
          example: 58072660-1df9-4deb-b4ca-cd2d7f96e480
      responses:
        200:
          description: The individual's details for the given match id
          body:
            application/json:
              example: !include examples/matched-individual-response.json
              type: !include schemas/matched-individual-response.json
        404:
          body:
            application/json:
              type: types.errorResponse
              examples:
                NotFound:
                  description: Not found
                  value:
                    code: NOT_FOUND